<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>lista</h2>

  <input #nameInput type="text" placeholder="nombre" />
  <br>
  <h1>Fecha de inicio</h1>
  <input #dateInputI type="date">
  <h1>Fecha fin</h1>
  <input #dateInputF type="date">
  <h1>Ubicacion</h1>
  <input #ubi type="text" placeholder="nombre" />
  
  <h1>Nombre de encargado</h1>
  <input #ne type="text" placeholder="nombre" />
  <h1>Telefono de encargado</h1>
  <input #tel type="text" placeholder="nombre" />
  

  <button (click)="addItem(nameInput.value,dateInputI.value,dateInputF.value,ubi.value,ne.value,tel.value)" id="botonEnvio">agregar</button>
  <table border="1" style="margin-top:20px;width: 100%;text-align: left;">
    <thead>

      <tr>
        <th>Nombre del evento</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
        <th>Ubicacion</th>
        <th>Confirmacion de evento</th>
        <th>Nombre de encargado</th>
        <th>Telefono de encargado</th>
        
      </tr>
      
    </thead>
    <tbody>
      <tr *NgFor="let item of items">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.date}}</td>
        <td>
          <input type="checkbox"[checked]="item.completed"/>
        </td>
      </tr>
    </tbody>
  </table>

</ion-content>
