<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>lista</h2>

  <input #nameInput type="text" placeholder="nombre" />
  <input #dateInput type="date">

  <button (click)="addItem(nameInput.value,dateInput.value)" id="botonEnvio">agregar</button>
  <table border="1" style="margin-top:20px;width: 100%;text-align: left;">
    <thead>

      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Completado</th>
        <th>Acciones</th>
        
      </tr>
      
    </thead>
    <tbody>
      <tr *NgFor="let item of items">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.date}}</td>
        <td>
          <input type="checkbox"[checked]="item.completed"/>
        </td>
      </tr>
    </tbody>
  </table>

</ion-content>
